.App {
  text-align: center;
}

html, body {
  background-color: rgb(255, 244, 232)
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
  float: left;
  margin-left: -130px;
  margin-top: -30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wildcard {
  margin-left: -160px;
  background-color: tomato;
}

.wildcard:target > .App-logo {
  animation: App-logo-spin infinite 0.00001s linear;
}

.navbar {
  padding: 20px;
}

.navbar{
  margin: 10px
}

.form-horizontal {
  width: 30%;
  text-align: center;
  align-content: center;
  display: inline-block;
}