.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 80px;
  float: left;
  margin-left: -130px;
  margin-top: -30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  padding: 20px;
}

.form-horizontal {
  width: 30%;
  text-align: center;
  align-content: center;
  display: inline-block;
}